@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Pirata One', cursive;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.choose-char{
    color: #fff;
    position: absolute;
    font-size: 3em;
    top: 10px;
    left: 37%;
    animation: anim 3s linear infinite;
}

@keyframes anim {
    0%, 100%{
        top: 0;
    }
    50%{
        top: 50px;
    }
}

.char-button-section {
height: 60vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
}

#char-buttons{
/* padding: 80px; */
height: 20vh;
width: 28vh;
margin: 20px;
box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
border-radius: 5px;
position:relative;
background-color: black;
}

#char-buttons:hover{
background-color: #386600;
transition: transform .1s, background-color 0.5s ;
transform:scale(1.1);
}
#char-buttons:hover > p{
    color:black;
}

#char-buttons > p {
font-family: 'Pirata One', cursive;
font-size: 24px;
color: white;
}

#char-buttons > img {
width: 200px;
margin-top: -8px;

}

.fight-btn{
    margin: 2%;
width:18vh;
height:7vh;
font-size: 1.3rem;
background-color: transparent;
border-color: rgb(211, 138, 2);
color: rgb(211, 138, 2);
}

#char-buttons > p {
font-family: 'Pirata One', cursive;
font-size: 24px;
color: #fff;
position: absolute;
top:58%;
right: 32%;
left: 32%;
}

.hide{
    display: none;
}

.stat-text{
    font-size: 5vh;
    color: #fff
}

.show{
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.main-cont{
    width: 100%;
    height: 400px;
}

.char-stats{
    width: 20%;
     margin: 4em 2em;
     color:#fff
}

.char-image{
    width: 50%;
    float: right;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25em;
}

.text-cont{
    width: 50%;
    height: auto;
    margin: auto;
    padding: .5%;
    font-size: 1.5rem;
    background-color: black;
    color: #fff;
    border: 4px #fff solid;
}

div#next-btn{
    display:flex;
    flex-direction: row-reverse;
    }
    .next-btn{
        padding: 10px 20px;
        margin-top: 10px;
    }

.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outcome{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    outline: #386600;
}


