@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    font-family: 'VT323', monospace;
    margin:0;
    padding:0;
}

body{
    font-family: 'Pirata One', cursive;
    background-image: url('https://thumbs.dreamstime.com/b/pixel-art-dithering-background-three-colors-gradient-color-vector-142596401.jpg');
    /* background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/71c8d4c1-f1a9-47f1-855c-030b165278fa/dektl6b-3b40000d-d04a-4d92-b767-17b70b19fb22.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzcxYzhkNGMxLWYxYTktNDdmMS04NTVjLTAzMGIxNjUyNzhmYVwvZGVrdGw2Yi0zYjQwMDAwZC1kMDRhLTRkOTItYjc2Ny0xN2I3MGIxOWZiMjIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.sk9f7WGbHKRhgtFKSY4dVx73H2s9WkXdPzWAdEXgGzI'); */
    background-size: cover;
    background-repeat: no-repeat;
}

#char-button-section {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;

}

#char-buttons{
/* padding: 80px; */
height: 20vh;
width: 28vh;
margin: 20px;
box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
border-radius: 5px;
position:relative;
background-color: black;
}
.char-btns-p{
    margin-top: 30px;
}

#char-buttons:hover{
background-color: #B749E5;
transition: transform .1s, background-color 0.5s ;
transform:scale(1.1);
}
#char-buttons:hover > p{
    color:black;
}

#char-buttons > p {
font-family: 'Pirata One', cursive;
font-size: 24px;
color: white;
position: absolute;
top: 58%;
right: 32%;
left: 32%;
}

#char-buttons > img {
width: 200px;
margin-top: -8px;

}
div.fight-btn-div{
display:flex;
justify-content: space-evenly;
}
.fight-btn{
width:18vh;
height:7vh;
background-color: transparent;
border-color: rgb(211, 138, 2);
transform:scale(1.1);
}

#char-buttons > p {
font-family: 'Pirata One', cursive;
font-size: 24px;
color: #fff;
position: absolute;
top:58%;
right: 32%;
left: 32%;

}

.char-stats{
position:relative;
top:-57vh;
left: -25vh;
font-size: 24px;

}

.char-image{
width: 90vh;
height: 70vh;
position:relative;
top: 60vh;
left: 10vw;
}

div#next-btn{
display:flex;
flex-direction: row-reverse;
}

.next-btn{
    padding: 10px 20px;
    margin-top: 10px;
}

.hide{
    display: none;
}

.show{
    display: flex;
    height: fit-content;
    flex-direction: column;
}

div#intro{
    max-width:50%;
    padding: 40px;
    background-color: black;
    display:flex;
    
}
div#intro > p {
  display: flex;

  color: white;
  width: 50%;
  text-align: center;
  font-size: 26px;

}
